<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#myNavbar"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" id="brandName">SWAYAM OSWAL</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a
            class="dropdown-toggle navSelect"
            data-toggle="dropdown"
            href="#"
            id="industries"
          >INDUSTRIES </a>
          <ul class="dropdown-menu">
            <li>
              <a href="property.html">PROPERTY PHOTOGRAPHY</a>
            </li>
            <li>
              <a href="turbines.html">TURBINE INSPECTION</a>
            </li>
            <li>
              <a href="construction.html">CONSTRUCTION MONITORING</a>
            </li>
            <li>
              <a href="consulting.html">GENERAL VIDEOGRAPHY</a>
            </li>
          </ul>
        </li>
        <li><a
            href="https://medium.com/@Southwall"
            class="navSelect"
          >BLOG</a></li>
        <li><a href="#about" class="navSelect" id="aboutNav">ABOUT</a></li>
        <li><a
            href="contact.html"
            id="contactNavButton"
            class="navSelect"
          >CONTACT</a></li>

      </ul>
    </div>
  </div>
</nav>